@using EntityLayer.Concrete
@model List<Blog>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Son 10 Blog</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Başlık </th>
                                <th> Kategori </th>
                                <th> Tarih </th>
                                <th> Detaylar </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.BlogImage" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @item.BlogTitle
                                    </td>
                                    <td>
                                        @if (@item.Category.CategoryName == "Yazılım")
                                        {
                                            <span class="badge badge-pill badge-secondary">@item.Category.CategoryName</span>
                                        }
                                        else if (@item.Category.CategoryName == "Teknoloji")
                                        {
                                            <span class="badge badge-pill badge-danger">@item.Category.CategoryName</span>
                                        }
                                        else if (@item.Category.CategoryName == "Tiyatro")
                                        {
                                            <span class="badge badge-pill badge-success">@item.Category.CategoryName</span>
                                        }
                                        else if (@item.Category.CategoryName == "Fim & Dizi")
                                        {
                                            <span class="badge badge-pill badge-info">@item.Category.CategoryName</span>
                                        }
                                        else if (@item.Category.CategoryName == "Oyun")
                                        {
                                            <span class="badge badge-pill badge-primary">@item.Category.CategoryName</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-pill badge-dark">@item.Category.CategoryName</span>
                                        }
                                    </td>
                                    <td> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
                                    <td><a href="/Blog/BlogReadAll/@item.BlogID" class="btn btn-dark">Detaylar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>